@mixin lettersAndDigits {
  display: flex;
  position: absolute;

  div {
    display: flex;
    font-size: 20px;
    line-height: 24px;
  }
}

.field_container {
  position: relative;

  .letters_top {
    top: -24px;
    left: 0;
    width: 100%;

    @include lettersAndDigits;

    div {
      justify-content: center;
      width: 12.5%;
    }
  }

  .letters_bottom {
    top: 100%;
    left: 0;
    width: 100%;

    @include lettersAndDigits;

    div {
      justify-content: center;
      width: 12.5%;
    }
  }

  .digits_left {
    flex-flow: column nowrap;
    top: 0;
    left: -20px;
    width: 20px;
    align-items: center;
    height: 100%;

    @include lettersAndDigits;

    div {
      align-items: center;
      height: 12.5%;
    }
  }

  .digits_right {
    flex-flow: column nowrap;
    top: 0;
    left: 100%;
    width: 20px;
    align-items: center;
    height: 100%;

    @include lettersAndDigits;

    div {
      align-items: center;
      height: 12.5%;
    }
  }

  .field {
    display: grid;
    height: 70vh;
    width: 70vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border: 1px solid #713b00;
    position: relative;

    h1 {
      position: absolute;
      width: 200px;
      color: #007fd0;
      background-color: #a71d1d;
      left: calc(50% - 100px);
      text-align: center;
    }

    h1.game_over {
      padding: 0 8px;
      top: 40%;
    }

    h1.step {
      line-height: 40px;
      font-size: 24px;
      top: -81px - 24px;
    }

    h1.shah {
      line-height: 36px;
      font-size: 24px;
      color: #00ff34;
      top: calc(100% + 24px);
    }
  }
}

.black {
  background-color: #713b00;
}

.white {
  background-color: #fff;
}

.step {
  background-color: rgba(0, 255, 0, 0.5);
}