a.play {
  padding: 12px 16px;
  border: 1px solid #713b00;
  border-radius: 20px;
  background-color: #713b00;
  color: #fff;
  font-size: 24px;
  transition: .5s;
  font-weight: 600;

  &:hover {
    color: #713b00;
    background-color: #fff;
  }
}